{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"jsxSingleQuote": false,
	"printWidth": 100,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": true,
	"singleAttributePerLine": true,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "all",
	"editorconfig": true,
	"useTabs": true
}
